* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFAFF;
    font-family: Consolas, monaco, monospace;
}

#action {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#changeMode {
    margin-top: 20px;
    margin-bottom: 20px;
}

#playerName {
    margin-top: 20px;
}

#pic {
    display: block;
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#computerChoice {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#result {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#timerCountdown {
    text-align: center;
}

#backToRanking {
    margin-top: 20px;
    margin-bottom: 20px;
}

#historyPreTable {
    border-collapse: separate;
    border-spacing: 70px 0;
}

#historyTable {
    width: auto;
    height: auto;
    border-spacing: 50px 0;
}

#leaderBoard {
    border-spacing: 10px 0;
}

#firstTitle {
    text-align: center;
}

#secondTitle {
    text-align: center;
}

.innerPreTable {
    border-right-width: 50px;
    border-left-width: 0px;
}

.choices {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.versus {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page {
    width: 100%;
    min-height: 100%;
    position: fixed;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}

.fadeIn {
    opacity: 1;
    pointer-events: all;
}



